services:
  api:
    image: null
    build:
      context: ./flow
      target: dev
    command: sh -c "cd api && air"
    volumes:
      - ./flow:/build

  uw:
    image: null
    build:
      context: ./flow
      target: uw

  email:
    image: null
    build:
      context: ./flow
      target: dev
    command: sh -c "cd email && air"
    volumes:
      - ./flow:/build
