services:
  api:
    image: uwflow-local/api:dev
    pull_policy: never
    build:
      context: ./flow
      target: dev
    command: sh -c "cd api && air"
    volumes:
      - ./flow:/build

  uw:
    image: uwflow-local/uw:dev
    pull_policy: never
    build:
      context: ./flow
      target: uw

  email:
    image: uwflow-local/email:dev
    pull_policy: never
    build:
      context: ./flow
      target: dev
    command: sh -c "cd email && air"
    volumes:
      - ./flow:/build
