API_PORT=8081

HASURA_GRAPHQL_ADMIN_SECRET=secretinprod
HASURA_GRAPHQL_UNAUTHORIZED_ROLE=anonymous
HASURA_GRAPHQL_JWT_KEY=5BEC95A53F54EFFDFA3BD3B5AF30F31A36F2BB1AFB1B1C464380AB02E2BF3440
HASURA_PORT=8080

MONGO_DUMP_PATH

POSTGRES_DB=flow
POSTGRES_HOST=postgres
POSTGRES_PASSWORD=secretinprod
POSTGRES_PORT=5432
POSTGRES_USER=postgres

FB_APP_ID=289196947861602
FB_APP_SECRET=c92ab5e56e509dd73a96f065de197ccd

UW_API_KEY
