[dev-packages]
black = "==19.3b0"
pre-commit = "*"

[packages]
fastapi = "*"
gunicorn = "*"
psycopg2 = "*"
sqlalchemy = "*"
uvicorn = "*"

[scripts]
dev = "uvicorn flow.main:api --port $PORT"
prod = "gunicorn flow.main:api --bind $HOST:$PORT -w $GUNICORN_WORKERS -k uvicorn.workers.UvicornWorker"
