[dev-packages]
black = "==19.3b0"
pre-commit = "*"

[packages]
email-validator = "*"
fastapi = "*"
gunicorn = "*"
psycopg2 = "*"
sqlalchemy = "*"
uvicorn = "*"

[scripts]
server = "gunicorn flow.main:api --bind $API_HOST:$API_PORT -w $GUNICORN_WORKERS -k uvicorn.workers.UvicornWorker"
