version: 2.1
executors:
  docker-publisher:
    environment:
      ALL_IMAGES: neuwflow/api neuwflow/email neuwflow/uw
    machine: true
jobs:
  build:
    executor: docker-publisher
    steps:
      - checkout
      - run:
          name: Build all images
          command: ./script/build.sh
      - run:
          name: Archive all images
          command: docker save -o image.tar $ALL_IMAGES
      - persist_to_workspace:
          root: .
          paths:
            - ./image.tar
  publish:
    executor: docker-publisher
    steps:
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Load archived images
          command: docker load -i /tmp/workspace/image.tar
      - run:
          name: Publish Docker images to Docker Hub
          command: |
            echo "$DOCKERHUB_PASS" | docker login --username "$DOCKERHUB_USER" --password-stdin
            for image in $ALL_IMAGES
            do
              docker push $image:latest
            done
  deploy:
    machine:
      image: ubuntu-2204:2025.09.1
    steps:
      - checkout
      - run:
          name: copy Hasura files to staging
          command: rsync -avz ./hasura $STAGING_USER@$STAGING_HOST:~/uwflow/

workflows:
  version: 2
  normal:
    jobs:
      - build
      - publish:
          requires:
            - build
          filters:
            branches:
              only: main
      - deploy:
          requires:
            - build
