<html>
<head>
	<title></title>
	<link href="https://svc.webspellchecker.net/spellcheck31/lf/scayt3/ckscayt/css/wsc.css" rel="stylesheet" type="text/css" />
</head>
<body aria-readonly="false" style="cursor: auto;">
<table align="center" border="0" cellpadding="1" cellspacing="1" style="width:250px">
	<tbody>
		<tr>
			<td><a href="#"><img src="https://uwflow.com/title.png" style="width:100%" /></a></td>
		</tr>
	</tbody>
</table>
<table align="center" border="0" cellpadding="1" cellspacing="1" style="width:600px">
	<tbody>
		<tr>
			<td><span style="font-size:14px;font-family:arial,helvetica,sans-serif;">{{template "content" .}}</span></td>
		</tr>
	</tbody>
</table>
</body>
</html>
